{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
    <div id="headerwrap">
        <header class="clearfix">
            <h1><span>Bonzo!</span> Сервис сокращения ссылок.</h1>
            <div class="container">
                <div class="row">
                    <form action="{% url 'urlapp:shorten_url' %}" method="post" class="span12">
                        {% csrf_token %}
                        <h2>Сократите любую ссылку до минимальной длины</h2>
                        <input type="text" name="url" placeholder="https://www.example.com" class="cform-text" size="40"
                               title="your email">
                        <input type="submit" value="Сократить" class="cform-submit">
                    </form>
                </div>
                <div class="row">
                    <div class="span12">
                        {#                        <ul class="icon">#}
                        {#                            <li><a href="#" target="_blank"><i class="icon-pinterest-circled"></i></a></li>#}
                        {#                            <li><a href="#" target="_blank"><i class="icon-facebook-circled"></i></a></li>#}
                        {#                            <li><a href="#" target="_blank"><i class="icon-twitter-circled"></i></a></li>#}
                        {#                            <li><a href="#" target="_blank"><i class="icon-gplus-circled"></i></a></li>#}
                        {#                            <li><a href="#" target="_blank"><i class="icon-skype-circled"></i></a></li>#}
                        {#                        </ul>#}
                    </div>
                </div>
            </div>
        </header>
    </div>
    {% include 'mainapp/includes/inc__features.html' %} }}
{% endblock %}

